{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ver ley</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Ley</th>
                <th>Observaciones</th>
            </tr>
            <tr>
                <td><a href="{{ path('manage_laws_edit', { 'id': laws.id }) }}">Ley {{ laws.number }}/{{ laws.lawdate|date('Y') }} de {{ laws.lawdate|date('d') }} de {{ laws.lawdate|date('F') }}, {{ laws.shortname }}</a></td>
                <td>{{ laws.notes }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('manage_laws_index') }}">Volver a la lista</a>
        </li>
    </ul>
{% endblock %}
