{% extends 'custom.html.twig' %}

{% block body %}

<h1>Fondo {{ fundbank.fund }}</h1>

    {% if edit_form is defined or create_form is defined %}

    {{ block('crudform') }}
    {% else %}
    <h2>Datos de la entidad {{ fundbank.getBank }}</h2>
    <table class="table table-bordered">
        <tbody>
           <tr>
                <th>Entidad</th>
                <th>Tipo préstamo</th>
                <th>Número préstamos</th>
                <th>Estado</th>
                <th>Acción</th>
           </tr>
           <tr>
               <td><a href="{{ path('manage_funds_banks_edit', { 'id': fundbank.id } ) }}">{{ fundbank.bank }}</a></td>
               <td>{{ fundbank.loantype }}</td>
               <td>{{ fundbank.count }}</td>
               {% if filename %}<td  class="btn btn-success">X</td>
                        {% if securitiescount %}<td class="btn btn-success">{{ securitiescount }}
                        {% else %}<td class="btn btn-warning">{{ form_start(download_form) }}
                               <input type="submit" class="btn btn-success" value="Cargar">
                               <input name="filename" type="hidden" value="{{ filename|url_encode }}">
                           {{ form_end(download_form) }}
                           <a href="{{ path('manage_securities_load', { 'id': fundbank.id, 'filename': (filename|url_encode) }) }}">Cargar</a>
                       {% endif %}
                   {% else %}<td  class="btn btn-warning">No hay fichero</td>
                    <td><a href="{{ path('manage_funds_links_new', { 'id': fundbank.getId }) }}">Crear enlace a CSV</a>
                   {% endif %}</td>
           </tr>
        </tbody>
    </table>
    {% if fundbank.getTasks.count %}
    <h3>Tareas</h3>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Fecha</th>
                <th>Descripción</th>
                <th>Finalizada</th>
            </tr>
            {% for banktask in fundbank.tasks %}
            <tr>
                <td><a href="{{ path('manage_fundbanks__tasks_edit', { 'id': banktask.id }) }}">{{ banktask.taskdate|date('d/m/Y') }}</a></td>
                <td>{{ banktask.shortdescription }}</td>
                <td>{% if banktask.finished %}X{% else %}No{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No hay tareas</p>
    {% endif %}
    <p><a href="{{ path('manage_fundbanks_tasks_new', { 'id': fundbank.id }) }}">Añadir tarea</a></p>

    {% endif %}
    <ul>
        <li>
            <a href="{{ path('manage_funds_show', { 'id': fundbank.getFundid } ) }}">Volver al fondo</a>
        </li>
    </ul>
{% endblock %}
