{% extends 'custom.html.twig' %}

{% block body %}
    <h1>{{ h1 }} {{ fund.fundname }}</h1>

    {{ block('crudform') }}

    <ul>
        <li>
            <a href="{{ backlink }}">{{ backmessage }}</a>
        </li>
    </ul>
{% endblock %}
