{% extends 'base.html.twig' %}

{% block body %}
    <h1>Datos adicionales del fondo {{ fund.fundname }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Guardar" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('manage_funds_show', { 'id': fund.id }) }}">Volver al fondo</a>
        </li>
    </ul>
{% endblock %}
