{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado de fondos de titulización</h1>
    <h2><a href="http://www.cnmv.es/Portal/Consultas/FTA/ListadoGestorasFTA.aspx" target='_blank'>Enlace CNMV a las gestoras</a></h2>

    <ul>
        <li>
            <a href="{{ path('manage') }}">Volver al menú de gestión</a>
        </li>
    </ul>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Gestora</th>
                <th>Nombre</th>
                <th>NIF</th>
                <th>Fecha constitución</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
        {% for fund in funds %}
            <tr>
                <td>{{ fund.fundmanager }}</td>
                <td><form><button type="submit" formaction="{{ path('manage_funds_show', { 'id': fund.id }) }}"
                {% if fund.fundtype == 'Hipotecario' %} class="btn btn-block btn-success" title="Fondo hipotecario"
                {% else %} class="btn btn-block btn-warning" title="Fondo no hipotecario"
                {% endif %}>{{ fund.fundname }}</button></form></td>
                <td>{{ fund.nif }}</td>
                <td>{% if fund.constdate %}{{ fund.constdate|date('d/m/Y') }}{% endif %}</td>
                <td {% if fund.mfund and fund.fundtype == 'Hipotecario' %}{% set suma = 0 %}{% set sumasec = 0 %}
                        {% for bank in fund.banks %}
                            {% set suma = suma + bank.count %}
                            {% set sumasec = sumasec + bank.securities.count %}
                        {% endfor %}
                        {% if sumasec == suma and suma != 0 %}class="btn-success">Cargado
                        {% else %}class="btn-warning">Incompleto
                        {% endif %}
                    {% else %}
                        {% if fund.fundtype == 'Hipotecario' %}class="btn-danger">Faltan datos
                        {% else %}class="btn-info">No es hipotecario
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('manage_funds_new') }}">Añadir un fondo</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{{ path('manage') }}">Volver al menú de gestión</a>
        </li>
    </ul>

{% endblock %}
