{% extends 'base.html.twig' %}

{% block body %}
    <h2>Datos del fondo {{ fund.fundname }}</h2>

    <table>
        <tbody>
            <tr>
                <th>Gestora</th>
                <th>Tipo fondo</th>
                <th>Fecha de constitución</th>
                <th>NIF</th>
                <th>Cantidad</th>
            </tr>
            <tr>
                <td>{{ fund.fundmanager }}</td>
                <td>{{ fund.fundtype }}</td>
                <td>{% if fund.constdate %}{{ fund.constdate|date('d/m/Y') }}{% endif %}</td>
                <td>{{ fund.nif }}</td>
                <td>{{ fund.amount|number_format(2,',','.') }}</td>
            </tr>
            </tbody>
        </table>
        <p>
            <a href="{{ path('manage_funds_edit', { 'id': fund.id }) }}">Editar</a>
        </p>
        {% if mfund %}
        <table>
            <tbody>
            <tr>
                <th>Fecha de liquidación</th>
                <th>Fecha de extinción</th>
                <th>Num registros</th>
                <th>Pag. inicio</th>
                <th>Pag. fin</th>
                <th>Legible</th>
                <th>Folleto</th>
                <th>Digitalizable</th>
            </tr>
            <tr>
                <td>{% if mfund.liqdate %}{{ mfund.liqdate|date('d/m/Y') }}{% endif %}</td>
                <td>{% if mfund.extdate %}{{ mfund.extdate|date('d/m/Y') }}{% endif %}</td>
                <td>{{ mfund.numrecords }}</td>
                <td>{{ mfund.paginicio }}</td>
                <td>{{ mfund.pagfin }}</td>
                <td>{% if mfund.legible %}Yes{% else %}No{% endif %}</td>
                <td>{% if mfund.folleto %}Yes{% else %}No{% endif %}</td>
                <td>{% if mfund.digitalizable %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>
    <p>
        <a href="{{ path('manage_funds_extra', { 'id': fund.id }) }}">Editar datos adicionales</a></p>
    {% else %}
    <p>
        <a href="{{ path('manage_funds_extra', { 'id': fund.id }) }}">Añadir datos adicionales</a></p>
    {% endif %}
    {% if fundbanks %}
    <table>
        <tbody>
           <tr>
               <th>Banco</th>
               <th>Tipo préstamo</th>
               <th>Número préstamos</th>
           </tr>
           {% for fundbank in fundbanks %}
           <tr>
               <td>{{ fundbank.bank }}</td>
               <td>{{ fundbank.loantype }}</td>
               <td>{{ fundbank.count }}</td>
           </tr>
           {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <p><a href="{{ path('manage_funds_banks', { 'id': fund.id }) }}">Gestionar bancos</a></p>
    {% if fundlinks %}
    <table>
        <tbody>
           <tr>
               <th>Descripción</th>
               <th>Enlace</th>
           </tr>
           {% for fundlink in fundlinks %}
           <tr>
               <td>{{ fundlink.description }}</td>
               <td>{{ fundlink.URL }}</td>
           </tr>
           {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <p><a href="{{ path('manage_funds_links', { 'id': fund.id }) }}">Gestionar enlaces</a></p>
    <p>
            {{ form_start(delete_form) }}
                <input type="submit" value="Borrar todo">
            {{ form_end(delete_form) }}
    </p>
    <p>&nbsp</p>
    <p><a href="{{ path('manage_funds_index') }}">Volver a la lista</a></p>
{% endblock %}
