{% extends 'base.html.twig' %}

{% block body %}
            {%if is_granted('ROLE_ADMIN') %}
                <h1>Administración</h1>
                <ul>
                    <li><a href="{{ path('admin_users_index') }}">Administración de usuarios</a></li>
                    <li><a href="{{ path('admin_linktypes_index') }}">Tipos de enlaces</a></li>
                    <li><a href="{{ path('admin_banks_index') }}">Gestión de bancos</a></li>
                    <li><a href="{{ path('admin_bankcategories_index') }}">Gestión de categorías de bancos</a></li>
                </ul>
            {% endif %}
            {% if is_granted('ROLE_MANAGER') %}
                <h1>Gestión de elementos</h1>
                <ul>
                    <li><a href="{{ path('manage_funds_index') }}">Gestión de fondos</a></li>
                    <li><a href="{{ path('manage_fundmanagers_index') }}">Gestión de entidades gestoras</a></li>
                    <li><a href="{{ path('manage_laws_index')}}">Gestión de leyes</a></li>
                </ul>
            {% endif %}
{% endblock %}
