{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Gestión de elementos</h1>
            </div>

            <div id="next">
                <h2>¿Deseas buscar tu hipoteca?</h2>
                    <ul>
                        <li><a href="{{ path('manage_fundmanagers_index') }}">Gestión de entidades gestoras</a></li>
                        <li><a href="{{ path('manage_funds_index') }}">Gestión de fondos</a></li>
                        <li><a href="{{ path('admin_linktypes_index') }}">Tipos de enlaces</a></li>
                        <li><a href="{{ path('admin_banks_index') }}">Gestión de bancos</a></li>
                        <li><a href="{{ path('manage_laws_index')}}">Gestión de leyes</a></li>
                    </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
