{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gestoras list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Shortname</th>
                <th>Longname</th>
                <th>Nif</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gestora in gestoras %}
            <tr>
                <td><a href="{{ path('manage_gestoras_show', { 'id': gestora.id }) }}">{{ gestora.id }}</a></td>
                <td>{{ gestora.shortname }}</td>
                <td>{{ gestora.longname }}</td>
                <td>{{ gestora.nif }}</td>
                <td>{{ gestora.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('manage_gestoras_show', { 'id': gestora.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('manage_gestoras_edit', { 'id': gestora.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('manage_gestoras_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
