{% extends 'base.html.twig' %}

{% block body %}
    <h1>Búsqueda de fondos por entidad cedente</h1>

    <form class="form-inline" method='POST'>
        <div class="form-group">
            <label for="banks">Elige entidad:</label>
            <select id="banks" name="banks" class="form-control">
                {% for bank in fundbanks %}
                    {% set selected = (bank.id == selectedBankId) ? ' selected' %}
                    <option value="{{ bank.id }}"{{ selected }}>{{ bank.shortname }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-info">Buscar</button>
        </div>
    </form>

    {% if fundbanks|length > 0 %}{% set loancount = 0 %}
    <h1>Total de fondos encontrados: {{ fundbank|length }}</h1>
        {% for fund in fundbank %}
        <h2 class="text-center">Datos del fondo {{ fund.fundname }}</h2>

            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Gestora</th>
                        <th>Tipo fondo</th>
                        <th>Fecha de constitución</th>
                        <th>NIF</th>
                        <th>Cantidad</th>
                        <th colspan="1">Enlaces CNMV</th>
                        <th>Fecha de liquidación</th>
                        <th>Fecha de extinción</th>
                        <th>Num registros</th>
                        <th>Tipo de fondo</th>
                        <th>Digitalizable</th>
                    </tr>
                    <tr>
                        <td>{{ fund.fund.fundmanager }}</td>
                        <td {% if fund.fund.fundtype == 'Hipotecario' %} class="btn-success">{% else %}{%if fund.fund.fundtype == 'Mixto' %} class="btn-warning">{% else %} class="btn-danger">{% endif %}{% endif %}{{ fund.fund.fundtype }}</td>
                        <td>{% if fund.fund.constdate|date('d/m/Y') != '01/01/1980' %}{{ fund.fund.constdate|date('d/m/Y') }}{% else %}✘{% endif %}</td>
                        <td>{{ fund.fund.nif }}</td>
                        <td>{{ fund.fund.amount|number_format(2,',','.') }} €</td>
                        <td><a href="{{ fund.fund.getCNMVLink }}" target="_blank">Página principal</a></td>
                        <td {% if fund.fund.mfund.liqdate|date('d/m/Y') != '01/01/1980' %} class="btn-success">{{ fund.fund.mfund.liqdate|date('d/m/Y') }}{% else %} class="btn-warning">✘{% endif %}</td>
                        <td {% if fund.fund.mfund.extdate|date('d/m/Y') != '01/01/1980' %} class="btn-success">{{ fund.fund.mfund.extdate|date('d/m/Y') }}{% else %} class="btn-warning">✘{% endif %}</td>
                        <td>{{ fund.fund.mfund.numrecords }}</td>
                        <td {% if fund.fund.mfund.openfund == 0 %} class="btn-success">Cerrado{% else %} class="btn-warning">Abierto{% endif %}</td>
                        <td {% if fund.fund.mfund.digitalizable %} class="btn-success">✔{% else %} class="btn-danger">✘{% endif %}</td>
                    </tr>
                </tbody>
            </table>
            {% if fund.fund.fundtype != 'No hipotecario' %}
                {% if fund.fund.banks.count %}
                    <table class="table table-striped table-bordered">
                        <tbody>
                           <tr>
                               <th>Banco</th>
                               <th>Tipo préstamo</th>
                               <th>Número préstamos</th>
                           </tr>
                           {% set fundcount = 0 %}{% for fundfundbank in fund.fund.banks %}
                            {% if fundfundbank.bank.id == selectedBankId %}{% set fundcount = fundcount + fundfundbank.count %}
                               <div class="row">
                                   <tr>
                                       <td>{{ fundfundbank.bank }}</td>
                                       <td>{{ fundfundbank.loantype }}</td>
                                       <td>{{ fundfundbank.count }}</td>
                                   </tr>
                               </div>
                               {% endif %}
                           {% endfor %}{% set loancount = loancount + fundcount %}
                        </tbody>
                    </table>
                {% endif %}
                <p>Préstamos de la entidad en el fondo: {{ fundcount }}</p>
            {% else %}
                <p>El fondo no es hipotecario</p>
            {% endif %}
        {% endfor %}
                <p>Total préstamos de la entidad: {{ loancount }}</p>
        <hr>
    {% endif %}
{% endblock %}
