{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ action }}</h1>

    <form class="form-inline" method='POST'>
        <div class="form-group">
            <label for="fundmanagers">Elige gestora:</label>
            <select id="fundmanagers" name="fundamanagers" class="form-control">
                {% for fundmanager in fundmanagers %}
                    {% set selected = (fundmanager.id == selectedId) ? ' selected' %}
                    <option value="{{ fundmanager.id }}"{{ selected }}>{{ fundmanager.longname }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-info">Buscar</button>
        </div>
    </form>

    {% if fundmanagers|length > 0 %}{% set loancount = 0 %}
    <h1>Total de fondos encontrados: {{ funds|length }}</h1>
        {% for fund in funds %}
            <h2 class="text-center">Datos del fondo {{ fund.fundname }}</h2>

            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Tipo fondo</th>
                        <th>Fecha de constitución</th>
                        <th>NIF</th>
                        <th>Cantidad</th>
                        <th colspan="1">Enlaces CNMV</th>
                        <th>Fecha de liquidación</th>
                        <th>Fecha de extinción</th>
                        <th>Num registros</th>
                        <th>Tipo de fondo</th>
                        <th>Digitalizable</th>
                    </tr>
                    <tr>
                        <td {% if fund.fundtype == 'Hipotecario' %} class="btn-success">{% else %}{%if fund.fundtype == 'Mixto' %} class="btn-warning">{% else %} class="btn-danger">{% endif %}{% endif %}{{ fund.fundtype }}</td>
                        <td>{% if fund.constdate|date('d/m/Y') != '01/01/1980' %}{{ fund.constdate|date('d/m/Y') }}{% else %}✘{% endif %}</td>
                        <td>{{ fund.nif }}</td>
                        <td>{{ fund.amount|number_format(2,',','.') }} €</td>
                        <td><a href="{{ fund.getCNMVLink }}" target="_blank">Página principal</a></td>
                        {% if fund.mfund %}
                        <td {% if fund.mfund.liqdate|date('d/m/Y') != '01/01/1980' %} class="btn-success">{{ fund.mfund.liqdate|date('d/m/Y') }}{% else %} class="btn-warning">✘{% endif %}</td>
                        <td {% if fund.mfund.extdate|date('d/m/Y') != '01/01/1980' %} class="btn-success">{{ fund.mfund.extdate|date('d/m/Y') }}{% else %} class="btn-warning">✘{% endif %}</td>
                        <td>{{ fund.mfund.numrecords }}</td>
                        <td {% if fund.mfund.openfund == 0 %} class="btn-success">Cerrado{% else %} class="btn-warning">Abierto{% endif %}</td>
                        <td {% if fund.mfund.digitalizable %} class="btn-success">✔{% else %} class="btn-danger">✘{% endif %}</td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
            <hr>
        {% endfor %}
    {% endif %}
{% endblock %}
