{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mostrar banco {{ bank.shortname }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bank.id }}</td>
            </tr>
            <tr>
                <th>Acrónimo</th>
                <td>{{ bank.acronym }}</td>
            </tr>
            <tr>
                <th>Shortname</th>
                <td>{{ bank.shortname }}</td>
            </tr>
            <tr>
                <th>Longname</th>
                <td>{{ bank.longname }}</td>
            </tr>
            <tr>
                <th>Dirección</th>
                <td>{{ bank.address }}</td>
            </tr>
            <tr>
                <th>Ciudad</th>
                <td>{{ bank.city }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('manage_banks_index') }}">Volver a la lista</a>
        </li>
        <li>
            <a href="{{ path('manage_banks_edit', { 'id': bank.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Borrar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
