{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gestora {{ fundmanager.shortname }}</h1>

    <p><a href="{{ fundmanager.getCNMVUrl }}" target="_blank">{{ fundmanager.longname }} en la CNMV</a></p>

    <table>
        <tbody>
            <tr>
                <th>Shortname</th>
                <th>Longname</th>
                <th>Nif</th>
                <th>Dirección</th>
                <th>Capital social</th>
                <th>Fecha de registro</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>{{ fundmanager.shortname }}</td>
                <td>{{ fundmanager.longname }}</td>
                <td>{{ fundmanager.nif }}</td>
                <td>{{ fundmanager.address }}</td>
                <td>{{ fundmanager.capitalsocial|number_format(2,',') }}€</td>
                <td>{{ fundmanager.regdate|date('d/m/Y') }}</td>
                <td>{{ fundmanager.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('manage_fundmanagers_index') }}">Volver a la lista</a>
        </li>
        <li>
            <a href="{{ path('manage_fundamanagers_edit', { 'id': fundmanager.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Borrar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
